NEXT_PUBLIC_KEYCLOAK_URL=https://reto1.telcox.site/auth
NEXT_PUBLIC_KEYCLOAK_REALM=telcox
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=telcox-web
NEXT_PUBLIC_MIXPANEL_TOKEN=
NEXT_PUBLIC_MIXPANEL_API_HOST=https://api-js.mixpanel.com
